@page "/"
@inject HttpClient Http
@using System.Text.Json
@using System.Net
@using System.Net.Http.Headers
@using SneakerBase.Shared.Dtos

<PageTitle>Sneakers</PageTitle>

<section class="jumbotron text-left">
    <div class="container">
        <form id="filter">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="inputSearchFilter">Search:</label>
                    <input class="form-control" id="inputSearchFilter" type="text" value="@_searchString" @oninput="SearchStringChanged">
                </div>
                <button type="button" @onclick="Reset" class="btn btn-outline-dark">Clear</button>
            </div>
        </form>
    </div>
</section>

@if (products == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="container" style="max-width: 90%">

        <div class="row">

            @foreach (var product in products.Where(p => p.IsVisible))
            {
                <div class="col-md-2">
                    <div class="card mb-5 ml-2">
                        <img class="img-thumbnail" src=@product.ThumbnailPath alt="Sneaker image" @onclick="() => Toggle(product)">
                        <div class="card-body">
                            <p class="card-text">@product.Name</p>
                            <p class="card-text">@product.ReferenceNumber</p>
                            <p class="card-text">Quantity: @product.Quantity</p>
                            <button @onclick="() => Toggle(product)" type="button" class="btn btn-outline-dark show"> @(product.IsHidden  ? "Details" : "Hide")</button>
                            <div id="info" hidden="@product.IsHidden">
                                <p class="card-text mt-2">Available sizes:</p>
                                <ul class="list-group">
                                    @foreach (var size in product.AvailableSizes)
                                    {
                                        <li class="list-group-item">@size.Size x @size.Quantity</li>
                                    }

                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
            }

        </div>

    </div>

}

@code {

    private List<ProductDto>? products;
    private string? _searchString = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<List<ProductDto>>("/api/products") ?? new();
    }

    private void Toggle(ProductDto product)
    {
        product.IsHidden = !product.IsHidden;
    }
    private void StageFilter()
    {
        products?.ForEach(x => x.IsVisible = true);
        StateHasChanged();
    }
    private void SearchStringChanged(ChangeEventArgs e)
    {
        _searchString = e?.Value?.ToString();
        StageFilter();
        if (!string.IsNullOrEmpty(_searchString))
        {
            products?.ForEach(p => p.IsVisible =  p.Name.ToLower().Contains(_searchString.ToLower()) || p.ReferenceNumber.ToLower().Contains(_searchString.ToLower()));
        }
        StateHasChanged();

    }

    private void Reset()
    {
        _searchString = string.Empty;
        StageFilter();
    }

}



