@page "/clients/register"

@using OnlineStore.Shared.Clients
@inject NavigationManager NavManager
@inject IClientService ClientService
@inject ISnackbar Snackbar

<MudContainer MaxWidth="MaxWidth.Small">
    <MudPaper Class="p-5" Elevation="5">
        <MudText Typo="Typo.h5">Zarejestruj się</MudText>
        <EditForm Model="RegisterClientDto" OnInvalidSubmit="OnInvalidSubmit" OnValidSubmit="OnSubmit">
            <DataAnnotationsValidator></DataAnnotationsValidator>

            <div class="form-group">
                <MudTextField Variant="Variant.Outlined" @bind-Value="RegisterClientDto.FirstName" Label="Imię" Placeholder="Wpisz" For="@(() => RegisterClientDto.FirstName)"/>
            </div>

            <div class="form-group">
                <MudTextField Variant="Variant.Outlined" @bind-Value="RegisterClientDto.LastName" Label="Nazwisko" Placeholder="Wpisz" For="@(() => RegisterClientDto.LastName)"/>
            </div>

            <div class="form-group">
                <MudTextField Variant="Variant.Outlined" @bind-Value="RegisterClientDto.Email" Label="E-mail" Placeholder="Wpisz" For="@(() => RegisterClientDto.Email)"/>
            </div>

            <div class="form-group">
                <MudTextField Variant="Variant.Outlined" @bind-Value="RegisterClientDto.PhoneNumber" Label="Numer telefonu" Placeholder="Wpisz" For="@(() => RegisterClientDto.PhoneNumber)"/>
            </div>

            <div class="form-group">
                <MudTextField Variant="Variant.Outlined" @bind-Value="RegisterClientDto.Password" Label="Hasło" Placeholder="Wpisz" InputType="InputType.Password" For="@(() => RegisterClientDto.Password)"/>
            </div>

            <div class="form-group">
                <MudTextField Variant="Variant.Outlined" @bind-Value="RegisterClientDto.ConfirmPassword" Label="Potwierdź hasło" Placeholder="Wpisz" InputType="InputType.Password" For="@(() => RegisterClientDto.ConfirmPassword)"/>
            </div>

            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Zarejestruj</MudButton>
        </EditForm>
    </MudPaper>
</MudContainer>

@code
{
    public RegisterClient RegisterClientDto { get; set; } = new();

    private void OnInvalidSubmit()
    {
        Snackbar.Add("Proszę poprawić formularz", Severity.Error);
    }

    private async Task OnSubmit()
    {
        try
        {
            await ClientService.Register(RegisterClientDto);
            Snackbar.Add("Zajerestrowano użytkownika", Severity.Success);
            NavManager.NavigateTo("/users/login");
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Nie udało się zajerestrować: {ex.Message}", Severity.Error);
        }
    }
}