@page "/"
@using OnlineStore.Shared.Products
@using Blazored.LocalStorage
@using OnlineStore.Client.Providers
@using OnlineStore.Shared.Clients
@using OnlineStore.Shared.Enums
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject IProductService ProductService
@inject IShoppingCartService ShoppingCartService
@inject ISnackbar Snackbar
@inject ICallContext CallContext

<PageTitle>Dostępne produkty</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <ProductsFilter OnSearchStringChanged="@GetProducts"/>

    @if (_isLoading)
    {
        <div class="d-flex align-content-center justify-content-center mb-5">
            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true"/>
        </div>
    }
    else
    {

        <MudGrid Spacing="6" Justify="Justify.Center" Class="mb-5">
            @foreach (var product in _products)
            {
                <MudItem xs="3">
                    <MudCard @onclick="@(() => NavigationManager.NavigateTo($"products/{product.Id}"))" class="pointer">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Style="text-overflow: clip" Typo="Typo.body1">@product.Name</MudText>
                                <MudText Typo="Typo.body2">@product.ReferenceNumber</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudTooltip Duration="250" Text="@product.ShortDescription" Placement="Placement.Top">
                                    <MudIconButton Icon="@Icons.Material.Filled.Description" Color="Color.Primary"/>
                                </MudTooltip>
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardMedia Image="@product.ThumbnailUri"/>
                        <MudCardContent>
                            <MudText Typo="Typo.h6">@(_showNetPrice ? product.PriceNet : product.PriceGross) zł</MudText>
                            <MudText Typo="Typo.body2">Ilość: @product.Quantity</MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Text" Color="Color.Primary" StartIcon="@Icons.Material.Filled.AddShoppingCart" OnClick="@(() => AddToCart(product))">Dodaj do koszyka</MudButton>
                            <MudButton Variant="Variant.Text" Color="Color.Primary" StartIcon="@Icons.Material.Filled.ShoppingCartCheckout" OnClick="@(() => BuyNow(product))">Kup teraz</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
        <div class="d-flex flex-column align-center">
            <MudPagination Size="Size.Large" Variant="Variant.Filled" Color="Color.Secondary" @bind-Selected="@PageNumber" Count="@_pageCount" Class="pa-4"/>
        </div>

    }
</MudContainer>

@code {

    private IReadOnlyCollection<ProductListItemDto> _products = new List<ProductListItemDto>();
    private bool _isLoading = true;
    private UserPreferencesDto? _userPreferences;
    private int _pageNumber = 1;
    private int _pageCount;
    private int _pageSize;
    private bool _showNetPrice;

    public int PageNumber
    {
        set
        {
            _pageNumber = value;
            PageChanged(_pageNumber).RunSynchronously();
        }
        get => _pageNumber;
    }

    protected override async Task OnInitializedAsync()
    {
        _userPreferences = await LocalStorage.GetItemAsync<UserPreferencesDto>(LocalStorageKeys.UserPreferences);
        _showNetPrice = _userPreferences?.DisplayedPrice == DisplayedPriceDto.Net;
        _pageSize = _userPreferences?.PageSize > 0 ? _userPreferences.PageSize : 20;

        await GetProducts();
    }

    private async Task GetProducts(string? filter = null)
    {
        _isLoading = true;

        var response = await ProductService.GetProductList(_pageNumber, _pageSize, searchPhrase: filter);
        _products = response.Items;
        _pageCount = response.TotalPages;
        _isLoading = false;
        StateHasChanged();
    }

    private async Task AddToCart(ProductListItemDto item, bool skipAlert = false)
    {
        if (!await ValidateCartAction())
        {
            return;
        }
        
        await ShoppingCartService.AddToCartAsync(item, 1);

        if (skipAlert)
        {
            return;
        }
        Snackbar.Add("Dodano produkt do koszyka", Severity.Info);
    }
    
    private async Task BuyNow(ProductListItemDto item)
    {
        if (!await ValidateCartAction())
        {
            return;
        }
        
        await AddToCart(item);
        NavigationManager.NavigateTo("/orders/checkout");
    }


    private async Task PageChanged(int i)
    {
        _pageNumber = i;
        await GetProducts();
    }

    private async Task<bool> ValidateCartAction()
    {
        if (!await CallContext.IsAuthenticated())
        {
            Snackbar.Add("Tylko zalogowany użytkownik może dokonywać zakupów i dodawać produkty do koszyka", Severity.Warning);
            return false;
        }

        return true;
    }
}