@using Blazored.LocalStorage
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider 
@inject NavigationManager NavigationManager

<nav class="navbar border-bottom">
    <div class="container-fluid">
        <div class="nav">
            <MudButton Variant="Variant.Text" Href="/">Strona główna</MudButton>
        </div>

        <div class="nav" style="margin-right: auto;">
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <MudButton StartIcon="@Icons.Material.Outlined.Add" href="@NavPaths.ProductsCreate">Dodaj produkt</MudButton>
                    <MudButton StartIcon="@Icons.Material.Filled.ListAlt" Href="@NavPaths.ProductsManage">Produkty</MudButton>
                    <MudButton StartIcon="@Icons.Material.Filled.SupervisorAccount" Href="@NavPaths.UsersManage">Użytkownicy</MudButton>
                </Authorized>
            </AuthorizeView>
        </div>

        <div class="nav gap-3">
            <AuthorizeView>
                <Authorized>
                    <MudButton Href="@NavPaths.OrderCheckout" StartIcon="@Icons.Material.Filled.ShoppingCart">Koszyk</MudButton>
                    <MudButton StartIcon="@Icons.Material.Filled.ShoppingBag" Href="@NavPaths.OrderManage">Zamówienia</MudButton>
                    <MudButton StartIcon="@Icons.Material.Filled.Settings" Href="@NavPaths.UsersSettings">Ustawienia</MudButton>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView >
                <Authorized>
                    <div>
                        <b>@Email</b>
                        <MudButton Class="ml-2" Variant="Variant.Filled" Color="Color.Primary" Href="@NavPaths.UsersLogout">Wyloguj</MudButton>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div>
                        <MudButton Class="mr-2" Variant="Variant.Filled" Color="Color.Primary" Href="@NavPaths.UsersRegister">Rejestracja</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="@NavPaths.UsersLogin">Zaloguj</MudButton>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</nav>

@code{

    private string Email { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        HandleAuthenticationState(authState);

        AuthenticationStateProvider.AuthenticationStateChanged += HandleAuthenticationStateChanged;
    }

    private void HandleAuthenticationStateChanged(Task<AuthenticationState> authStateTask)
    {
        var authState = authStateTask.Result;
        HandleAuthenticationState(authState);
    }

    private void HandleAuthenticationState(AuthenticationState authState)
    {
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            Email = user.Identity?.Name ?? "";
        }
        else
        {
            Email = string.Empty;
        }

        StateHasChanged();
    }
}